<settings>
    <servers>
        <server>
            <id>flyway-repo</id>
            <username>flyway-readonly</username>
            <password>${env.FLYWAY_READONLY_PASSWORD}</password>
        </server>
        <server>
            <id>flyway-repo-release</id>
            <username>flyway-release</username>
            <password>${env.FLYWAY_RELEASE_PASSWORD}</password>
        </server>
        <server>
            <id>flyway-gpg</id>
            <passphrase>${env.FLYWAY_GPG_PASSPHRASE}</passphrase>
        </server>
        <server>
            <id>sonatype-nexus-snapshots</id>
            <username>flyway</username>
            <password>${env.FLYWAY_SONATYPE_NEXUS_PASSWORD}</password>
        </server>
        <server>
            <id>sonatype-nexus-staging</id>
            <username>flyway</username>
            <password>${env.FLYWAY_SONATYPE_NEXUS_PASSWORD}</password>
        </server>
    </servers>
</settings>