<settings>
  <properties>
    <snapshotRepository.id>${env.SNAPSHOT_REPOSITORY_ID}</snapshotRepository.id>
    <snapshotRepository.name>${env.SNAPSHOT_REPOSITORY_NAME}</snapshotRepository.name>
    <snapshotRepository.url>${env.SNAPSHOT_REPOSITORY_URL}</snapshotRepository.url>

    <releaseRepository.id>${env.RELEASE_REPOSITORY_ID}</releaseRepository.id>
    <releaseRepository.name>${env.RELEASE_REPOSITORY_NAME}</releaseRepository.name>
    <releaseRepository.url>${env.RELEASE_REPOSITORY_URL}</releaseRepository.url>
  </properties>

  <servers>
    <server>
      <id>flyway-repo</id>
      <username>flyway-readonly</username>
      <password>${env.FLYWAY_READONLY_PASSWORD}</password>
    </server>
    <server>
      <id>flyway-repo-release</id>
      <username>flyway-release</username>
      <password>${env.FLYWAY_RELEASE_PASSWORD}</password>
    </server>
    <server>
      <id>flyway-gpg</id>
      <passphrase>${env.FLYWAY_GPG_PASSPHRASE}</passphrase>
    </server>
    <server>
      <id>sonatype-nexus-snapshots</id>
      <username>flyway</username>
      <password>${env.FLYWAY_SONATYPE_NEXUS_PASSWORD}</password>
    </server>
    <server>
      <id>sonatype-nexus-staging</id>
      <username>flyway</username>
      <password>${env.FLYWAY_SONATYPE_NEXUS_PASSWORD}</password>
    </server>
    <server>
      <id>maven.oracle.com</id>
      <username>oracle-reader</username>
      <password>DistantCoughAmuser1</password>
    </server>
  </servers>
</settings>